.footer-bar {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: #323337;
  padding: 30px;
  line-height: 45px;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-image {
  width: 300px;
}

.footer-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: ArticulatCF, sans-serif;
  color: #efebda;
}

.social-links {
  font-size: 2rem;
}

@media (max-width: 1000px) {
  .footer-bar {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .footer-text {
    align-items: center;
  }
}

@media (max-width: 768px) {
  .footer-bar {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
  }

  .footer-text {
    align-items: center;
  }
}
