body {
  font-family: ArticulatCF, sans-serif;
}

.menu-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-title {
  font-size: 70px;
  text-align: center;
  padding-top: 200px;
}

.restaurant-logo {
  max-width: 40%;
  margin: auto;
}

.menu-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #323337;
  color: #efebda;
}

.desayunos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  font-size: 30px;
  margin-top: 50px;
}

.expandable-separator {
  border: 1px solid #efebda;
  width: 100%;
  -ms-flex-negative: 100000;
      flex-shrink: 100000;
}

.menu-class-image {
  max-width: 100px;
  margin: 30px;
}

.menu-content {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 30px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-item {
  max-width: 500px;
}

.food-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#desayunos-menu-content {
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

#ensaladas-menu-content {
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
}

.plate-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  width: 450px;
}

.price-separator {
  border-top: 3px dashed #efebda;
  width: 100%;
  -ms-flex-negative: 100000;
      flex-shrink: 100000;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 11px;
}

.plate {
  font-size: 28px;
}

.plate-description {
  margin: 10px 0;
  width: 450px;
}

.new-style {
  font-family: 'Oswald', sans-serif !important;
}

.additional {
  font-size: 25px;
}

@media (max-width: 2200px) {
  .menu-content {
    margin: 0 auto;
  }
}

@media (max-width: 1900px) {
  #desayunos-menu-content {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
  }
  #ensaladas-menu-content {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 1100px) {
  #desayunos-menu-content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  #ensaladas-menu-content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .plate {
    font-size: 18px;
  }
  .menu-item {
    max-width: 300px;
  }
}
/*# sourceMappingURL=menu-style.css.map */