$light-orange: #ff9200;
$dark-orange: #ff761e;
$light-brown: #6f2f09;
$dark-brown: #592f09;
$light-orange-brown: #b44c24;
$dark-orange-brown: #8c2f09;
$light-green: #7f9f45;
$dark-green: #63722b;
$light-blue-green: #3d7a53;
$dark-blue-green: #3e5b43;
$off-white: #efebda;
$off-black: #323337;

body {
  font-family: ArticulatCF, sans-serif;
}

.menu-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-title {
  font-size: 70px;
  text-align: center;
  padding-top: 200px;
}

.restaurant-logo {
  max-width: 40%;
  margin: auto;
}

.menu-section {
  display: flex;
  flex-direction: column;
  background-color: $off-black;
  color: $off-white;
}

.desayunos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-size: 30px;
  margin-top: 50px;
}

.expandable-separator {
  border: 1px solid $off-white;
  width: 100%;
  flex-shrink: 100000;
}

.menu-class-image {
  max-width: 100px;
  margin: 30px;
}

.menu-content {
  display: grid;
  grid-column-gap: 30px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.menu-item {
  max-width: 500px;
}

.food-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#desayunos-menu-content {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

#ensaladas-menu-content {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.plate-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  width: 450px;
}

.price-separator {
  border-top: 3px dashed $off-white;
  width: 100%;
  flex-shrink: 100000;
  align-self: flex-end;
  margin-bottom: 11px;
}

.plate {
  font-size: 28px;
}

.plate-description {
  margin: 10px 0;
  width: 450px;
}

.new-style {
  font-family: 'Oswald', sans-serif !important;
}

.additional {
  font-size: 25px;
}

@media (max-width: 2200px) {
  .menu-content {
    margin: 0 auto;
  }
}

@media (max-width: 1900px) {
  #desayunos-menu-content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  #ensaladas-menu-content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 1100px) {
  #desayunos-menu-content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  #ensaladas-menu-content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .plate {
    font-size: 18px;
  }

  .menu-item {
    max-width: 300px;
  }
}
