*,
*::after,
*::before {
  scroll-behavior: smooth;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: ArticulatCF;
  src: url(fonts/ArticulatCF/ArticulatCF-Medium.otf) format("opentype");
}

.logo-img {
  margin-left: 50px;
  max-width: 300px;
}

.logo-scroll {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.navbar {
  background-color: rgba(239, 235, 218, 0.8);
  position: fixed;
  z-index: 3;
  width: 100%;
  padding: 10px 0;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 70px;
  font-family: 'ArticulatCF', sans-serif;
  letter-spacing: 3px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px;
}

.menu-list li a {
  padding: 5px 15px;
  margin-left: 50px;
  border: 3px solid transparent;
}

.menu-list li a:hover {
  border: 3px solid #4d4d4d;
  color: #4d4d4d;
  background-color: #efebda;
}

.navbar ul li.dropdown li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar ul li.dropdown ul {
  position: absolute;
  min-width: 220px;
  margin-left: 50px;
  margin-top: 0;
  color: #efebda;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  display: none;
}

.navbar ul li.dropdown:hover ul {
  display: block;
}

.navbar ul li.dropdown ul .space {
  height: 20px;
  background-color: transparent;
}

.navbar ul li.dropdown ul .element {
  background-color: #323337;
}

.navbar ul li.dropdown ul li {
  height: 40px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar ul li.dropdown ul li a {
  margin-left: 0px;
}

.navbar ul li.dropdown ul li a:hover {
  border: 3px solid #efebda;
  background-color: #323337;
  color: #efebda;
}

.selected {
  border: 3px solid black !important;
}

.action-button {
  color: #efebda;
  background-color: #323337;
}

.action-button:hover {
  color: #323337;
  background-color: #efebda;
}

.icon {
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.icon:hover {
  opacity: 70%;
}

.menu-btn {
  margin-right: 20px;
}

.cancel-btn {
  position: absolute;
  right: 30px;
  top: 20px;
}

.scroll-active {
  background-color: #efebda;
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  height: 100px;
  padding-top: 0;
}

.intro {
  background-image: url(images/compuesta3be.jpg);
  background-position: center;
  height: 100vh;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro-banner {
  margin-top: 70px;
  background-color: rgba(50, 51, 55, 0.8);
  width: 100vw;
  color: #efebda;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.relax {
  font-family: ArticulatCF, sans-serif;
  font-weight: 400;
  font-size: 60px;
  letter-spacing: 5.7px;
  text-transform: uppercase;
  margin-top: 50px;
}

.intro-btn {
  margin: 45px auto;
  height: 60px;
  width: 250px;
  border: 3px solid #efebda;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  font-size: 16px;
  font-family: ArticulatCF, sans-serif;
  letter-spacing: 3px;
  font-weight: bold;
}

.intro-btn:hover {
  cursor: pointer;
  color: #323337;
  background-color: #efebda;
  border-color: #efebda;
}

.grid-area {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.color-block {
  font-family: ArticulatCF, sans-serif;
  width: 50vw;
}

#restaurant-color-block {
  background-color: #ff761e;
  padding: 90px;
}

.picture-block {
  width: 50vw;
  background-image: url(images/fotografia/restaurant-square.jpg);
  background-size: cover;
}

.invitation-container {
  max-width: 20vw;
  padding: 20px;
}

.invitation {
  color: white;
  font-size: 70px;
  font-weight: bold;
}

.montecasino-small:hover {
  cursor: pointer;
  color: #323337;
}

.small-separator {
  max-width: 200px;
  border-top: 3px solid;
  margin-bottom: 30px;
}

#white-separator {
  border-color: white;
  background-color: white;
}

.paragraph-container {
  color: white;
  font-size: 30px;
  margin: 20px;
}

.logo-restaurante {
  max-width: 500px;
  margin-right: 50px;
  -ms-grid-column-align: center;
      justify-self: center;
}

#respira {
  background-image: url(images/fotografia/hojas.jpg);
  background-size: cover;
}

#jardines-color-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2fr 1fr;
      grid-template-rows: 2fr 1fr;
  background-color: #7f9f45;
  font-size: 90px !important;
}

.text-container {
  background-color: #7f9f45;
  font-family: ArticulatCF, sans-serif;
  font-size: 40px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  font-weight: bold;
}

.small-text-container {
  background-color: #3d7a53 !important;
  width: 100%;
  z-index: 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 3fr;
      grid-template-columns: 2fr 3fr;
}

.title-container {
  width: 400px;
  margin-bottom: 30px;
}

#green-breathe {
  color: #efebda;
  margin-left: 70px;
}

#cream-separator {
  margin-left: 70px;
  border-color: #efebda;
  background-color: #efebda;
  margin-top: 40px;
}

.cabin {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: end;
      justify-self: end;
  width: 290px;
}

.another-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vertical-separator {
  width: 5px;
  height: 150px;
  background-color: #efebda;
  margin-right: 25px;
}

.mini-div {
  color: #efebda;
  width: 300px;
}

.tiny-title {
  font-size: 30px;
  font-weight: bold;
}

.cabin-text {
  font-size: 20px;
  text-align: justify;
}

.montecasino-title {
  max-width: 800px;
}

.menu-intro {
  background-color: #323337;
  color: #efebda;
}

@media (max-width: 1500px) {
  .icon {
    display: block;
  }
  .icon.hide {
    display: none;
  }
  .navbar .menu-list {
    position: fixed;
    top: 0;
    background-color: #efebda;
    height: 100vh;
    width: 100%;
    left: -100%;
    max-width: 400px;
    display: block;
    padding: 40px 0;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list {
    left: 0%;
  }
  .navbar .menu-list li {
    margin-top: 45px;
  }
  .navbar .menu-list li a {
    font-size: 20px;
  }
  .navbar ul li.dropdown ul {
    position: static;
    font-size: 15px;
    background-color: #efebda;
  }
  .navbar ul li.dropdown ul .element {
    background-color: #efebda;
    color: #323337;
  }
  .navbar ul li.dropdown ul .space {
    height: 20px;
    background-color: transparent;
  }
  .small-space {
    height: 8px;
    background-color: transparent;
  }
  .navbar ul li.dropdown ul li a:hover {
    color: #323337;
    border: 3px solid #323337;
  }
}
/*# sourceMappingURL=styles.css.map */