$light-orange: #ff9200;
$dark-orange: #ff761e;
$light-brown: #6f2f09;
$dark-brown: #592f09;
$light-orange-brown: #b44c24;
$dark-orange-brown: #8c2f09;
$light-green: #7f9f45;
$dark-green: #63722b;
$light-blue-green: #3d7a53;
$dark-blue-green: #3e5b43;
$off-white: #efebda;
$off-black: #323337;

*,
*::after,
*::before {
  scroll-behavior: smooth;
  transition: all 0.3s ease;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: ArticulatCF;
  src: url(fonts/ArticulatCF/ArticulatCF-Medium.otf) format("opentype");
}

.logo-img {
  margin-left: 50px;
  max-width: 300px;
}

.logo-scroll {
  transform: scale(0.7);
}

.navbar {
  background-color: rgba($off-white, 0.8);
  position: fixed;
  z-index: 3;
  width: 100%;
  padding: 10px 0;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .menu-list {
  display: inline-flex;
  margin-right: 70px;
}

.menu-list {
  font-family: 'ArticulatCF', sans-serif;
  letter-spacing: 3px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px;
}

.menu-list li a {
  padding: 5px 15px;
  margin-left: 50px;
  border: 3px solid transparent;
}

.menu-list li a:hover {
  border: 3px solid #4d4d4d;
  color: #4d4d4d;
  background-color: $off-white;
}

.navbar ul li.dropdown li {
  display: flex;
  justify-content: center;
}

.navbar ul li.dropdown:hover ul {
  display: block;
}

.navbar ul li.dropdown ul .space {
  height: 20px;
  background-color: transparent;
}

.navbar ul li.dropdown ul .element {
  background-color: #323337;
}

.navbar ul li.dropdown ul {
  position: absolute;
  min-width: 220px;
  margin-left: 50px;
  margin-top: 0;
  color: #efebda;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  display: none;
}

.navbar ul li.dropdown ul li {
  height: 40px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar ul li.dropdown ul li a {
  margin-left: 0px;
}

.navbar ul li.dropdown ul li a:hover {
  border: 3px solid #efebda;
  background-color: $off-black;
  color: $off-white;
}

.selected {
  border: 3px solid #000000 !important;
}

.action-button {
  color: #efebda;
  background-color: #323337;
}

.action-button:hover {
  color: #323337;
  background-color: #efebda;
}

.icon {
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.icon:hover {
  opacity: 70%;
}

.menu-btn {
  margin-right: 20px;
}

.cancel-btn {
  position: absolute;
  right: 30px;
  top: 20px;
}

.scroll-active {
  background-color: #efebda;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
  height: 100px;
  padding-top: 0;
}

.intro {
  background-image: url(images/compuesta3be.jpg);
  background-position: center;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.intro-banner {
  margin-top: 70px;
  background-color: rgba($off-black, 0.8);
  width: 100vw;
  color: #efebda;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.relax {
  font-family: ArticulatCF, sans-serif;
  font-weight: 400;
  font-size: 60px;
  letter-spacing: 5.7px;
  text-transform: uppercase;
  margin-top: 50px;
}

.intro-btn {
  margin: 45px auto;
  height: 60px;
  width: 250px;
  border: 3px solid $off-white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 16px;
  font-family: ArticulatCF, sans-serif;
  letter-spacing: 3px;
  font-weight: bold;
}

.intro-btn:hover {
  cursor: pointer;
  color: $off-black;
  background-color: $off-white;
  border-color: $off-white;
}

.grid-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.color-block {
  font-family: ArticulatCF, sans-serif;
}

#restaurant-color-block {
  background-color: #ff761e;
  padding: 90px;
}

.picture-block {
  background-image: url(images/fotografia/restaurant-square.jpg);
  background-size: cover;
}

.invitation-container {
  max-width: 20vw;
  padding: 20px;
}

.invitation {
  color: white;
  font-size: 70px;
  font-weight: bold;
}

.montecasino-small:hover {
  cursor: pointer;
  color: #323337;
}

.small-separator {
  max-width: 200px;
  border-top: 3px solid;
  margin-bottom: 30px;
}

#white-separator {
  border-color: white;
  background-color: white;
}

.paragraph-container {
  color: white;
  font-size: 30px;
  margin: 20px;
}

.logo-restaurante {
  max-width: 500px;
  margin-right: 50px;
  justify-self: center;
}

#respira {
  background-image: url(images/fotografia/hojas.jpg);
  background-size: cover;
}

#jardines-color-block {
  display: grid;
  grid-template-rows: 2fr 1fr;
  background-color: $light-green;
  font-size: 90px !important;
}

.text-container {
  background-color: $light-green;
  font-family: ArticulatCF, sans-serif;
  font-size: 40px;
  align-self: center;
  justify-self: center;
  font-weight: bold;
}

.small-text-container {
  background-color: $light-blue-green!important;
  width: 100%;
  z-index: 2;
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.title-container {
  width: 400px;
  margin-bottom: 30px;
}

#green-breathe {
  color: #efebda;
  margin-left: 70px;
}

#cream-separator {
  margin-left: 70px;
  border-color: #efebda;
  background-color: #efebda;
  margin-top: 40px;
}

.cabin {
  align-self: center;
  justify-self: end;
  width: 290px;
}

.another-container {
  display: flex;
  align-items: center;
}

.vertical-separator {
  width: 5px;
  height: 150px;
  background-color: $off-white;
  margin-right: 25px;
}

.mini-div {
  color: $off-white;
  width: 300px;
}

.tiny-title {
  font-size: 30px;
  font-weight: bold;
}

.cabin-text {
  font-size: 20px;
  text-align: justify;
}

.montecasino-title {
  max-width: 800px;
}

.footer-bar {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: #323337;
  padding: 30px;
  line-height: 45px;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-image {
  width: 300px;
}

.footer-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: ArticulatCF, sans-serif;
  color: #efebda;
}

.social-links {
  font-size: 2rem;
}

.menu-intro {
  background-color: #323337;
  color: #efebda;
}

@media (max-width: 1500px) {
  .icon {
    display: block;
  }

  .icon.hide {
    display: none;
  }

  .navbar .menu-list {
    position: fixed;
    top: 0;
    background-color: #efebda;
    height: 100vh;
    width: 100%;
    left: -100%;
    max-width: 400px;
    display: block;
    padding: 40px 0;
    text-align: center;
    transition: all 0.3s ease;
  }

  .navbar.show .menu-list {
    left: 0%;
  }

  .navbar .menu-list li {
    margin-top: 45px;
  }

  .navbar .menu-list li a {
    font-size: 20px;
  }

  .navbar ul li.dropdown ul {
    position: static;
    font-size: 15px;
    background-color: #efebda;
  }

  .navbar ul li.dropdown ul .element {
    background-color: #efebda;
    color: #323337;
  }

  .navbar ul li.dropdown ul .space {
    height: 20px;
    background-color: transparent;
  }

  .small-space {
    height: 8px;
    background-color: transparent;
  }

  .navbar ul li.dropdown ul li a:hover {
    color: #323337;
    border: 3px solid #323337;
  }
}